In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.appName("MyPySparkApp")
                             .config("spark.driver.host","127.0.0.1") 
                             .config("spark.driver.bindAddress","127.0.0.1")
                             .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/06 21:49:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/06 21:49:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# 예제 데이터를 생성합니다.
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
df = spark.createDataFrame(data, ["name", "age"])

In [4]:
# 데이터프레임을 영구 테이블로 등록합니다.
df.write.saveAsTable("my_table")

In [5]:
# 등록한 테이블에 SQL 쿼리를 실행합니다.
result = spark.sql("SELECT * FROM my_table")
result.show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|  Alice| 25|
|    Bob| 30|
+-------+---+

In [6]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df = spark.sql("SHOW DATABASES")

# 조회한 메타데이터를 출력합니다.
hive_db_df.show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [10]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df1 = spark.sql("Use default")

# 조회한 메타데이터를 출력합니다.
hive_db_df1.show()

++
||
++
++

In [11]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df2 = spark.sql("SHOW Tables")

# 조회한 메타데이터를 출력합니다.
hive_db_df2.show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default| my_table|      false|
+---------+---------+-----------+

In [12]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df3 = spark.sql("select * from my_table")

# 조회한 메타데이터를 출력합니다.
hive_db_df3.show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|  Alice| 25|
|    Bob| 30|
+-------+---+

In [ ]:
# 세션을 종료합니다.
spark.stop()