In [1]:
import pandas as pd

In [4]:
websites = pd.read_csv("./data/top500Domains.csv", index_col=0)

In [5]:
websites

          Root Domain Linking Root Domains  Domain Authority
Rank
1      www.google.com           15,188,313               100
2         youtube.com           23,676,494               100
3     www.blogger.com           30,873,676               100
4        linkedin.com           12,761,063                99
5           apple.com            6,725,601                99
...               ...                  ...               ...
496      channel4.com              171,050                92
497    dictionary.com              369,241                92
498      tvtropes.org              140,672                92
499           unam.mx              171,657                92
500   dailystar.co.uk              159,594                92

[500 rows x 3 columns]

In [18]:
class A :
    def __init__(self,value) :
        self.value = value
        
    def __add__(self, value) :
        if type(value) == int :
            self.value += value
        else :
            self.value += value.value
        
    def __sub__(self, value) :
        self.value -= value

In [19]:
a = A(100)

In [20]:
a + 100

In [21]:
a.value

200

In [22]:
a + a

In [23]:
a.value

400