# 2. 판다스 기본 함수 처리

### 판다스 모듈 불러오기

In [2]:
import pandas as pd

### 데이터 위치 지정하기 

-  data 디렉토리는 현재 ipynb 파일보다 상위에 있어서 .. (상위 접근 표시)를 사용해서 지정

In [3]:
csv_path = "../data/diabetic_data_new.csv"

### 파일 읽기 

- read_csv 함수를 사용해서 읽기

In [4]:
df = pd.read_csv(csv_path)

### 데이터의 값들을 확인하기

In [5]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

### 데이터의 칼럼 등을 확인하기

In [6]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

### 데이터의 정보 확인하기

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide_metformin       101766 non-null  object
 43  glipizide_metformin       101766 non-null  object
 44  glimepiride_pioglitazone  101766 non-null  object
 45  metformin_rosiglitazone   101766 non-null  object
 46  metformin_pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

## 2-1 데이터 준비하기

- 다른 파일을 읽어서 하나의 파일로 만들기
- 보통 다른 데이터프레임을 읽어서 동일한 값을 가진 필드로 결합하기

## 두 개의 데이터프레임으로 분리

- left : lll
- right : rrr
- 결합할 수 있는 값은 encounter_id

### 분리할 칼럼을 리스트로 지정한다

In [8]:
lll = ['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum',  'change', 'diabetesMed', 'readmitted']

In [9]:
rrr = ['encounter_id', 'patient_nbr','A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone',]

### 데이터을 읽고 복사해서 다른 데이터프레임을 만든다

In [10]:
df_right = df[rrr].copy()

In [11]:
df_left = df[lll].copy()

### 제대로 분리되었는지 확인한다.

In [12]:
df_right.columns

Index(['encounter_id', 'patient_nbr', 'A1Cresult', 'metformin', 'repaglinide',
       'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
       'examide', 'citoglipton', 'insulin', 'glyburide_metformin',
       'glipizide_metformin', 'glimepiride_pioglitazone',
       'metformin_rosiglitazone', 'metformin_pioglitazone'],
      dtype='object')

In [13]:
df_left.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'change',
       'diabetesMed', 'readmitted'],
      dtype='object')

## 2-2  데이터 단순하게 결합하기

- concat 으로 결합하기

## 데이터 합치기 

![](../image/데이터합치기.png)

### 겹치는 칼럼을 제거하기

In [14]:
(df_right[['encounter_id', 'patient_nbr']] == df_left[['encounter_id', 'patient_nbr']]).all()

encounter_id    True
patient_nbr     True
dtype: bool

### 데이터프레임의 두 개의 칼럼을 제외한다.

In [15]:
df_left.columns[2:]

Index(['race', 'gender', 'age', 'weight', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'payer_code', 'medical_specialty', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'change', 'diabetesMed',
       'readmitted'],
      dtype='object')

### 두 개의 데이터프레임을 결합한다.

In [16]:
df_concat = pd.concat([df_right,df_left[df_left.columns[2:]]],axis=1,  join='inner')

In [17]:
df_concat.columns

Index(['encounter_id', 'patient_nbr', 'A1Cresult', 'metformin', 'repaglinide',
       'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
       'examide', 'citoglipton', 'insulin', 'glyburide_metformin',
       'glipizide_metformin', 'glimepiride_pioglitazone',
       'metformin_rosiglitazone', 'metformin_pioglitazone', 'race', 'gender',
       'age', 'weight', 'admission_type_id', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'payer_code',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'max_glu_serum', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [18]:
len(df_concat.columns)

50

## 2-3 조인처리하기 

- 데이터를 키로 조인하기 

- merge 함수 사용하기

## 이너조인

![](../image/이너조인.png)

In [19]:
df_join = pd.merge(df_left,df_right,on=['encounter_id'],how='inner')

In [20]:
df_join.columns

Index(['encounter_id', 'patient_nbr_x', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'change',
       'diabetesMed', 'readmitted', 'patient_nbr_y', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone'],
      dtype='object')

### 겹치는  칼럼을 삭제하기 

- 조인하면 조인 키를 제외한 겹치는 칼럼을 삭제

In [21]:
df_join_1 = df_join.drop('patient_nbr_y',axis=1)

In [22]:
df_join_1.columns

Index(['encounter_id', 'patient_nbr_x', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'change',
       'diabetesMed', 'readmitted', 'A1Cresult', 'metformin', 'repaglinide',
       'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
       'examide', 'citoglipton', 'insulin', 'glyburide_metformin',
       'glipizide_metformin', 'glimepiride_pioglitazone',
       'metformin_rosiglitazone', 'metformin_pioglitazone'],
      dtype='object')

### 변경된 칼럼명을  변경하기

In [23]:
df_join_2 = df_join_1.rename(columns = {'patient_nbr_x' : 'patient_nbr'})

In [24]:
df_join_2.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'change',
       'diabetesMed', 'readmitted', 'A1Cresult', 'metformin', 'repaglinide',
       'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
       'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone',
       'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
       'examide', 'citoglipton', 'insulin', 'glyburide_metformin',
       'glipizide_metformin', 'glimepiride_pioglitazone',
       'metformin_rosiglitazone', 'metformin_pioglitazone'],
      dtype='object')

## 레프트 조인

![](../image/레프트조인.png)

In [25]:
df_join_left = pd.merge(df_left,df_right,on=['encounter_id'],how='left')

In [26]:
df_join_left.head()

,encounter_id,patient_nbr_x,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,No
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,No,No,No,Up,No,No,No,No,No
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,No,No
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,No,No,No,Up,No,No,No,No,No
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,No,No,No,Steady,No,No,No,No,No

# 3. 데이터 그룹화 처리하기 

- 특정 범주 등을 기준으로 값을 계산해서 현재 데이터의 상태를 확인하는 방법을 본다.

- 이때는 groupby 메서드를 사용해서 하나의 칼럼이나 여러 칼럼을 그룹화할 수 있다.

## 그룹화처리

![](../image/그룹화처리.png)

## 3-1  특정 칼럼으로 그룹화하기

### 특정 칼럼의 그룹한 건수 확인 
- 먼저 특정 칼럼의 value counts로 확인

In [27]:
df.value_counts(subset=['patient_nbr'])

patient_nbr
88785891       40
43140906       28
1660293        23
23199021       23
88227540       23
               ..
34935156        1
34935795        1
34935804        1
34937658        1
189502619       1
Length: 71518, dtype: int64

### 특정 칼럼을 기준으로 그룹화해서 사이즈 확인하기

In [28]:
df.groupby('patient_nbr').size().sort_values()

patient_nbr
48164949     1
67633857     1
67633893     1
67636341     1
67638249     1
            ..
23199021    23
1660293     23
88227540    23
43140906    28
88785891    40
Length: 71518, dtype: int64

### 그룹화한 후에 특정 칼럼의 개수를 확인하기

In [29]:
df.groupby('patient_nbr')['encounter_id'].count().sort_values()

patient_nbr
48164949     1
67633857     1
67633893     1
67636341     1
67638249     1
            ..
23199021    23
1660293     23
88227540    23
43140906    28
88785891    40
Name: encounter_id, Length: 71518, dtype: int64

In [30]:
df.groupby('patient_nbr')['encounter_id'].count().sort_values(ascending=False)

patient_nbr
88785891     40
43140906     28
1660293      23
23199021     23
88227540     23
             ..
34935156      1
34935795      1
34935804      1
34937658      1
189502619     1
Name: encounter_id, Length: 71518, dtype: int64

## 3-2  여러 칼럼으로 그룹화하기

In [31]:
df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide_metformin', 'glipizide_metformin',
       'glimepiride_pioglitazone', 'metformin_rosiglitazone',
       'metformin_pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [32]:
df.groupby(['patient_nbr','gender'])['race'].size().sort_values(ascending=False)

patient_nbr  gender
88785891     Female    40
43140906     Female    28
1660293      Female    23
23199021     Male      23
88227540     Female    23
                       ..
34935804     Female     1
34937658     Female     1
34939350     Female     1
34941789     Male       1
189502619    Male       1
Name: race, Length: 71521, dtype: int64