In [1]:
import os
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

/Users/a06411/opt/anaconda3/envs/fluentPython/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
spark = (SparkSession.builder.appName('mysql-api')
                             .config("spark.driver.host","127.0.0.1") 
                             .config("spark.driver.bindAddress","127.0.0.1")
                             .config("spark.jars","{}/mysql-connector-j-8.0.33/mysql-connector-j-8.0.33.jar".format(os.getcwd()))
                             .config("spark.driver.extraClassPath","{}/mysql-connector-j-8.0.33/mysql-connector-j-8.0.33.jar".format(os.getcwd()))
                             .getOrCreate())

23/06/11 23:34:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

## 테이블 단위로 읽기

In [19]:
actor_df = (spark.read.format("jdbc")
            .option("url", "jdbc:mysql://localhost:3306/sakila")
            .option("driver", "com.mysql.cj.jdbc.Driver")
            .option("dbtable", "actor") 
            .option("user", "root")
            .option("inferSchema", "true")
            .load())

In [20]:
actor_df.printSchema()

root
 |-- actor_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- last_update: timestamp (nullable = true)

## 쿼리로 읽기

In [12]:
query_tables = "select * from actor"

In [21]:
df_actor = (spark.read .format("jdbc") 
    .option("url", "jdbc:mysql://localhost:3306/sakila") 
    .option("driver", "com.mysql.cj.jdbc.Driver")
    .option("query", query_tables) 
    .option("user", "root")
    .option("inferSchema", "true")
    .load())

In [22]:
df_actor.count()

200

In [23]:
df_actor.show()

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
|       6|     BETTE|   NICHOLSON|2006-02-15 04:34:33|
|       7|     GRACE|      MOSTEL|2006-02-15 04:34:33|
|       8|   MATTHEW|   JOHANSSON|2006-02-15 04:34:33|
|       9|       JOE|       SWANK|2006-02-15 04:34:33|
|      10| CHRISTIAN|       GABLE|2006-02-15 04:34:33|
|      11|      ZERO|        CAGE|2006-02-15 04:34:33|
|      12|      KARL|       BERRY|2006-02-15 04:34:33|
|      13|       UMA|        WOOD|2006-02-15 04:34:33|
|      14|    VIVIEN|      BERGEN|2006-02-15 04:34:33|
|      15|      CUBA|     OLIVIER|2006-02-15 04:34:33|
|      16|      FRED|     COSTNER|2006-02-15 04:34:33|
|      17|     HELEN|      VOIGHT|2006-02-15 04:34:33|
|      18|       DAN|        TORN|2006-02-15 04:34:33|
|      19|       BOB|     FAWCETT|2006-02-15 04:34:33|
|      20|   LUCILLE|       TRACY|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 20 rows

## 테이블에 쓰기

jdbcUrl = "jdbc:mysql://<host>:<port>/<database>"
username = "<username>"
password = "<password>"

df.write \
  .format("jdbc") \
  .option("url", jdbcUrl) \
  .option("user", username) \
  .option("password", password) \
  .option("dbtable", "<table>") \
  .mode("append") \
  .save()
   
### 
MYSQL_URL = "jdbc:mysql://{server}:<port>/{database}?user={username}&password={password}"
df.write.jdbc(MYSQL_URL, table="<table_name>", mode="append")