In [1]:
import os
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

/Users/a06411/opt/anaconda3/envs/fluentPython/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
spark = (SparkSession.builder.appName('sqlite-api')
                             .config("spark.driver.host","127.0.0.1") 
                             .config("spark.driver.bindAddress","127.0.0.1")
                             .config("spark.jars","{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
                             .config("spark.driver.extraClassPath","{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
                             .getOrCreate())

23/06/09 21:37:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/09 21:37:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/06/09 21:37:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [4]:
import sqlite3

con = sqlite3.connect("./chinook.db")

In [5]:
query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""

In [6]:
pd.read_sql_query(query,con)

               name
0            albums
1   sqlite_sequence
2           artists
3         customers
4         employees
5            genres
6          invoices
7     invoice_items
8       media_types
9         playlists
10   playlist_track
11           tracks
12     sqlite_stat1

In [13]:
spark.sql("CREATE DATABASE IF NOT EXISTS chinook_db;")

DataFrame[]

In [15]:
spark.sql("show databases").show()

+----------+
| namespace|
+----------+
|chinook_db|
|   default|
+----------+

In [17]:
spark.sql("use chinook_db")

DataFrame[]

In [7]:
py_df_customers = spark.read.format('jdbc') \
        .options(driver='org.sqlite.JDBC', dbtable='customers',
                 url='jdbc:sqlite:{}/chinook.db'.format(os.getcwd()))\
        .load()

In [11]:
py_df_customers.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Fax: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- SupportRepId: integer (nullable = true)

In [8]:
py_df_customers.show()

+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
|        11|Alexandre|      Rocha|Banco do Brasil S.A.|  Av. Paulista, 2022|          São Paulo|   SP|        Brazil| 01310-200|+55 (11) 3055-3278|+55 (11) 3055-8131|    alero@uol.com.br|           5|
|        12|  Roberto|    Almeida|              Riotur|    Praça Pio X, 119|     Rio de Janeiro|   RJ|        Brazil| 20040-020|+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@r...|           3|
|        13| Fernanda|      Ramos|                null|        Qe 7 Bloco G|           Brasília|   DF|        Brazil| 71020-677|+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol...|           4|
|        14|     Mark|    Philips|               Telus|      8210 111 ST NW|           Edmonton|   AB|        Canada|   T6G 2C7| +1 (780) 434-4554| +1 (780) 434-5565|  mphilips12@shaw.ca|           5|
|        15| Jennifer|   Peterson|       Rogers Canada| 700 W Pender Street|          Vancouver|   BC|        Canada|   V6C 1G8| +1 (604) 688-2255| +1 (604) 688-8756| jenniferp@rogers.ca|           3|
|        16|    Frank|     Harris|         Google Inc.|1600 Amphitheatre...|      Mountain View|   CA|           USA|94043-1351| +1 (650) 253-0000| +1 (650) 253-0000|  fharris@google.com|           4|
|        17|     Jack|      Smith|Microsoft Corpora...|     1 Microsoft Way|            Redmond|   WA|           USA|98052-8300| +1 (425) 882-8080| +1 (425) 882-8081|jacksmith@microso...|           5|
|        18| Michelle|     Brooks|                null|        627 Broadway|           New York|   NY|           USA|10012-2612| +1 (212) 221-3546| +1 (212) 221-4679|   michelleb@aol.com|           3|
|        19|      Tim|      Goyer|          Apple Inc.|     1 Infinite Loop|          Cupertino|   CA|           USA|     95014| +1 (408) 996-1010| +1 (408) 996-1011|    tgoyer@apple.com|           3|
|        20|      Dan|     Miller|                null|541 Del Medio Avenue|      Mountain View|   CA|           USA| 94040-111| +1 (650) 644-3358|              null| dmiller@comcast.com|           4|
+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 20 rows

In [18]:
py_df_customers.write.mode("overwrite").saveAsTable('customers')

In [20]:
spark.sql("show tables").show()

+----------+---------+-----------+
| namespace|tableName|isTemporary|
+----------+---------+-----------+
|chinook_db|customers|      false|
+----------+---------+-----------+

In [22]:
spark.sql("desc customers").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|  CustomerId|      int|   null|
|   FirstName|   string|   null|
|    LastName|   string|   null|
|     Company|   string|   null|
|     Address|   string|   null|
|        City|   string|   null|
|       State|   string|   null|
|     Country|   string|   null|
|  PostalCode|   string|   null|
|       Phone|   string|   null|
|         Fax|   string|   null|
|       Email|   string|   null|
|SupportRepId|      int|   null|
+------------+---------+-------+

In [21]:
spark.sql("select count(*) from customers").show()

+--------+
|count(1)|
+--------+
|      59|
+--------+